{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Python Tunisia</title>
	<link rel="shortcut icon" href="{% static 'images/py.png'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
	<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>
<body>
	<header>	
		<img src="{% static 'images/py.png'%}" >
		<img src="{% static 'images/pyd.png'%}" >
		<div class="rightside">
			<div class="btn daynight">
				<ion-icon name="moon-outline"></ion-icon>
				<ion-icon name="sunny-outline"></ion-icon>
			</div>
			<div class="btn togglemenu">
				<ion-icon name="menu-outline"></ion-icon>
				<ion-icon name="close-outline"></ion-icon>
			</div>
		</div>
	</header>
	<section class="main1"><div class="Sponsors">
        <div class="circle"></div>
        <img src="{% static 'images/iit.png' %}">
        <div class="cont">
            <h2>IIT</h2>
            <p>L'Institut International de Technologie (IIT) est un organisme d’enseignement supérieur privé agréé par le Ministère de l’Enseignement Supérieur et de la Recherche Scientifique. Il a été inauguré le 23 Août 2012.Cet établissement est accrédité par l'organisme ASIIN pour le Génie Informatique (EURO-INF) et le Génie Industriel (EUR-ACE).</p>
        </div>
    </div>
    <div class="Sponsors">
        <div class="circle"></div>
        <img src="{% static 'images/fo.png' %}">
        <div class="cont">
            <h2>fogits</h2>
            <p>Make our expertise and know-how available in open source solutions, for the success of our partners’ projects.
                We place our customers at the heart of our strategy by focusing on excellence in terms of quality of execution, quality of service, communication, deadlines, fees and commitment to guarantee their total satisfaction.</p>
        </div>
    </div>
		<p class="copyright">© python development department - 2021	</p>
		<a href="https://www.facebook.com/IIT-Python-Tunisia-104596848690428"><ion-icon name="logo-facebook" class="social"></ion-icon></a>
	</section>
	

	<ul class="navigation">
		<li><a href={% url 'home'%}>home</a></li>
		<li><a href={% url 'inscription' %}>Inscription</a></li>
		<li><a href={% url 'about'%}>About</a></li>
		
	</ul>
</body>
	<script type="text/javascript" src="{% static 'js/javascript.js'%}"></script>
</html>